<!DOCTYPE html>
<html>
    <head>
        <title>GPIO conrtoller</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    
    <body>
        <a href="{{ IP }}/pin1/on">Turn light 1 on!</a>
        <a href="{{ IP }}/pin2/on">Turn light 2 on!</a>
        <a href="{{ IP }}/pin3/on">Turn light 3 on!</a>
        <a href="{{ IP }}/pin4/on">Turn light 4 on!</a>
        <a href="{{ IP }}/pin5/on">Turn light 5 on!</a>
        <a href="{{ IP }}/pin6/on">Turn light 6 on!</a>
        <p></p>
        <a href="{{ IP }}/pin1/off">Turn light 1 off!</a>
        <a href="{{ IP }}/pin2/off">Turn light 2 off!</a>
        <a href="{{ IP }}/pin3/off">Turn light 3 off!</a>
        <a href="{{ IP }}/pin4/off">Turn light 4 off!</a>
        <a href="{{ IP }}/pin5/off">Turn light 5 off!</a>
        <a href="{{ IP }}/pin6/off">Turn light 6 off!</a>
    </body>
</html>
